html, body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  background: #212121;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, auto);
  z-index: 1;
}
.header .top-header {
  display: flex;
  justify-content: space-around;
}
.header .top-header #logo {
  height: 100px;
  width: 150px;
  background: #212121;
  padding: 10px;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  justify-content: center;
  border-radius: 10%;
}
.header .top-header .social-media ul {
  background: #212121;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
  border-radius: 30px 30px 30px 30px;
  padding: 0;
}
.header .top-header .social-media ul li {
  list-style: none;
  padding: 10px;
  margin: 8px;
}
.header .top-header .social-media ul li a {
  color: #424242;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  text-decoration: none;
}
.header .top-header .social-media ul li a :hover {
  transform: scale(2, 2);
  color: #cc08ccda;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 3px;
  border-radius: 30%;
  transition: 0.3s;
}
.header .bottom-header {
  grid-row-start: 2;
}
.header .bottom-header ul {
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
}
.header .bottom-header ul li {
  list-style: none;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10%;
  cursor: pointer;
}
.header .bottom-header ul li:hover {
  transform: scale(1.2);
  color: #cc08ccda;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  transition: 0.2s;
}
.header .bottom-header ul li:hover a {
  color: #cc08ccda;
}
.header .bottom-header ul li a {
  text-decoration: none;
  color: #424242;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  background: #212121;
  padding: 10px;
}
.footer .footer-nav {
  background: #212121;
  grid-column: 1/4;
  grid-row: 1;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
  border-radius: 50px;
}

.central-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  background: #212121;
  column-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.central-container .art1 {
  background: #212121;
  grid-column: 2/3;
  grid-row: 1;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
  border-radius: 50px;
}
.central-container .art-left {
  background: #212121;
  grid-column: 1/1;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  border-radius: 50px;
}
.central-container .art-right {
  background: #212121;
  grid-column: 3/3;
  box-shadow: -3px 3px 20px #000, 3px -3px 20px #424242;
  border-radius: 50px;
}

.centralContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  min-height: 100%;
  background: #212121;
  column-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.centralContainer .art-left {
  background: #212121;
  grid-column: 1/1;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  border-radius: 50px;
}
.centralContainer .art-central {
  background: #212121;
  padding: 40px;
  grid-column: 2/4;
  grid-row: 1;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
  border-radius: 50px;
}

.contact-us {
  background: #212121;
  color: #000;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 10px;
}
.contact-us .cadre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
  border-radius: 15px;
}
.contact-us .pseudo-container {
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}
.contact-us .password-container {
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}
.contact-us .confirm-container {
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}
.contact-us .email-container {
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}
.contact-us #submit {
  cursor: pointer;
  background: #212121;
  color: #000;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 20px #000 inset, -3px -3px 20px #424242 inset;
}
.contact-us #submit:hover {
  background: #212121;
  color: #424242;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  transition: 2s;
  transform: scale(0.5);
}

input {
  background: #303030;
  color: white;
  border: none;
  box-shadow: 3px 3px 20px #000, -3px -3px 20px #424242;
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 10px;
}
input:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
