.central-container {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    background: $grey;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
    
    .art1 {
        background: $grey;
        grid-column: 2 / 3;
        grid-row: 1;
        @include borderRelief2;
        border-radius:50px;

    }

    .art-left {
        background: $grey;
        grid-column: 1/1;
        @include borderRelief;
        border-radius:50px;
    }

    .art-right {
        background: $grey;
        grid-column: 3/3;
        @include borderRelief3;
        border-radius:50px;
    }
}



